.create-post-container {
  border: 1px solid #ddd;
  border-radius: 0.5em;
  padding: 1em;
  background-color: #fff;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .create-post-container {
    max-width: 500px;
  }
}

.create-post-container form {
  display: flex;
  flex-direction: column;
}

.create-post-container label {
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #333;
}

.create-post-container textarea {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 0.25em;
  width: 100%;
  box-sizing: border-box;
  height: 150px; /* Ajusta la altura según sea necesario */
  resize: vertical; /* Permite redimensionar verticalmente si es necesario */
}

.create-post-container input[type='file'] {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 0.25em;
  width: 100%;
  box-sizing: border-box;
}

.create-post-container button[type='submit'] {
  padding: 0.75em 1em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  background-color: var(--button);
  color: white;
  transition: var(--light-violet) 0.3s;
}

.create-post-container button[type='submit']:hover {
  background-color: var(--light-violet);
}
