/* Estilos generales para pantallas pequeñas (verticales) */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.navbar {
  background-color: #4a90e2;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-item {
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  color: #333;
  background-color: #e0e0e0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #d1d1d1;
}

.body {
  background-color: #f0f0f0;
  color: black;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background-color: #34495e;
  height: 10%;
  display: flex;
  flex-direction: column;
}

/* Estilos para pantallas grandes (horizontales) */
@media (min-width: 768px) {
  .app-container {
    flex-direction: row;
  }

  .navbar {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .body {
    width: 80%;
    height: 100vh;
  }

  .sidebar {
    width: 15%;
    height: 100vh;
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
  }
}
